<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Hotel & Restaurant</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
        rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent">
        <div
            class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
            <i class="bi bi-phone d-flex align-items-center"><span>+261 xx xx xxx xx</span></i>
            <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>Ouvert 24h/24 et 7j/7</span></i>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <div class="logo me-auto">
                <h1><a href="#">Hotel & Restaurant</a></h1>
            </div>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
                    <li><a class="nav-link scrollto" href="#about">A propos</a></li>
                    <li><a class="nav-link scrollto" href="#events">Chambre</a></li>
                    <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
                    <li><a class="nav-link scrollto" href="#menu">Menu du resto</a></li>
                    <li><a class="nav-link scrollto" href="#specials">Evenements</a></li>
                    <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <a href="#book-a-table" class="book-a-table-btn scrollto">Réservation</a>
        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown"><span>Hotel </span> & Restaurant</h2>
                                <p class="animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Duis aute irure dolor in reprehenderit</p>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Centre de conférence</h2>
                                <p class="animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Duis aute irure dolor in reprehenderit</p>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Bar et Restaurant</h2>
                                <p class="animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Duis aute irure dolor in reprehenderit</p>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

            </div>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container-fluid">
                <div class="section-title">
                    <h2><span>A propos de nous</span></h2>
                </div>
                <div class="row">
                    <div class="col-lg-5 align-items-stretch">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="">
                                    <div class="text w-100 p-4 mb-md-4">
                                        <div class="icon"><span class="flaticon-pillow"></span></div>
                                        <h3>1 Suite royale</h3>
                                        <p>Spacieuse et baignée de lumière, cette suite possède son propre décor.
                                            L'espace salon est équipée de fauteuils et d'une table basse.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="f-services">
                                    <div class="text w-100 p-4">
                                        <div class="icon"><span class="flaticon-special"></span></div>
                                        <h3>4 Chambres de luxes</h3>
                                        <p>Dans une décoration soignée et chaleureuse, de très belles chambres luxueuses
                                            pour deux personnes, alliant confort et modernité.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="f-services">
                                    <div class="text w-100 p-4">
                                        <div class="icon"><span class="flaticon-pillow"></span></div>
                                        <h3>5 Chambres classiques</h3>
                                        <p>Elles sont équipées d'un lit king-size ou de deux lits jumeaux sur demande,
                                            d'un grand bureau, d'une salle de bain (baignoire ou douche).</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="f-services">
                                    <div class="text w-100 p-4">
                                        <div class="icon"><span class="flaticon-special"></span></div>
                                        <h3>1 bar et restaurant</h3>
                                        <p>Établissement faisant simultanément bar et restaurant, service de bar et
                                            service de restauration.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
                        <div class="content">
                            <h3><strong>Hotel & Restaurant</strong></h3>
                            <p>Le Hotel & Restaurant est un Complexe Hôtelier de 5 étoiles agréablement niché dans un
                                site d’une grande superficie.
                                Nous vous accueillerons pour un séjour agréable, chaleureux et inoubliables.
                            </p>
                            <p class="fst-italic">
                                L’hôtel est composé de :
                            </p>
                            <ul>
                                <li><i class="bx bx-check-double"></i> 1 Suite royale</li>
                                <li><i class="bx bx-check-double"></i> 4 Chambres de luxes</li>
                                <li><i class="bx bx-check-double"></i> 5 Chambres classiques</li>
                                <li><i class="bx bx-check-double"></i> 1 bar et restaurant</li>
                            </ul>
                            <p>
                                Toutes les chambres sont très conviviales et apaisantes. Elles sont joliment décorées
                                avec un design très particulier.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Whu Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container">
                <div class="section-title">
                    <h2>Pourquoi <span>Nous choisir</span></h2>
                </div>
                <div class="row">

                    <div class="col-lg-4">
                        <div class="box">
                            <span>01</span>
                            <h4>Localité :</h4>
                            <p>Nous sommes situé au coeur de la nature et d'une paysage formidable</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box">
                            <span>02</span>
                            <h4>Services :</h4>
                            <p>Nous donnons une service de qualité et une reduction pour nos nouveaux clients</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box">
                            <span>03</span>
                            <h4>Ce qui nous demarque :</h4>
                            <p>L'adaptation, la differenciation, la communications et l'action commerciale en interne et
                                en externe</p>
                        </div>
                    </div>

                </div>

                <div class="section-title p-5">
                    <h2>Notre<span> Restaurant</span></h2>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="box">
                            <span>01</span>
                            <h4>Application d'une bonne gestion du personnel.</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box">
                            <span>02</span>
                            <h4>La rétroaction au service de la productivité</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box">
                            <span>03</span>
                            <h4>La formation du personnel, un gage de qualité</h4>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Whu Us Section -->

        <!-- ======= Events Section ======= -->
        <section id="events" class="events">
            <div class="container">

                <div class="section-title">
                    <h2>Nos <span>Chambres</span></h2>
                </div>

                <div class="events-slider swiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="row event-item">
                                <div class="col-lg-7 gallery-item">
                                    <a href="assets/img/chambre/Suite.jpg" class="gallery-lightbox">
                                        <img src="assets/img/chambre/Suite.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-lg-5 pt-4 pt-lg-0 content">
                                    <h3>Suite royale</h3>
                                    <div class="price">
                                        <p><span>Ar 200.000</span> la nuité</p>
                                    </div>
                                    <ul>
                                        <li><i class="bi bi-check-circle"></i> Surface : 45m<sup>2</sup></li>
                                        <li><i class="bi bi-check-circle"></i> Climatisée</li>
                                        <li><i class="bi bi-check-circle"></i> Coffre fort</li>
                                        <li><i class="bi bi-check-circle"></i> Coin cuisine</li>
                                        <li><i class="bi bi-check-circle"></i> Espace salon</li>
                                        <li><i class="bi bi-check-circle"></i> Jacuzzi</li>
                                        <li><i class="bi bi-check-circle"></i> Mini bar</li>
                                        <li><i class="bi bi-check-circle"></i> TV satellite</li>
                                        <li><i class="bi bi-check-circle"></i> Téléphone</li>
                                        <li><i class="bi bi-check-circle"></i> WIFI GRATUIT</li>
                                    </ul>
                                    <div>
                                        <a href="#" class="book-a-table-btn scrollto" data-bs-toggle="modal"
                                            data-bs-target="#suiteModal">Reserver cette suite</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="row event-item">
                                <div class="col-lg-7 gallery-item">
                                    <a href="assets/img/chambre/Luxe.jpg" class="gallery-lightbox">
                                        <img src="assets/img/chambre/Luxe.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-lg-5 pt-4 pt-lg-0 content">
                                    <h3>Chambre de luxe</h3>
                                    <div class="price">
                                        <p><span>Ar 100.000</span> la nuité</p>
                                    </div>
                                    <ul>
                                        <li><i class="bi bi-check-circle"></i> Surface : 25m<sup>2</sup></li>
                                        <li><i class="bi bi-check-circle"></i> Climatisée</li>
                                        <li><i class="bi bi-check-circle"></i> Coffre fort</li>
                                        <li><i class="bi bi-check-circle"></i> Jacuzzi</li>
                                        <li><i class="bi bi-check-circle"></i> Mini bar</li>
                                        <li><i class="bi bi-check-circle"></i> TV satellite</li>
                                        <li><i class="bi bi-check-circle"></i> Téléphone</li>
                                        <li><i class="bi bi-check-circle"></i> WIFI GRATUIT</li>
                                    </ul>
                                    <div>
                                        <a href="#" class="book-a-table-btn scrollto" data-bs-toggle="modal"
                                            data-bs-target="#luxeModal">Reserver cette chambre de luxe</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="row event-item">
                                <div class="col-lg-7 gallery-item">
                                    <a href="assets/img/chambre/Classic.jpg" class="gallery-lightbox">
                                        <img src="assets/img/chambre/Classic.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-lg-5 pt-4 pt-lg-0 content">
                                    <h3>Chambre classique</h3>
                                    <div class="price">
                                        <p><span>Ar 50.000</span> la nuité</p>
                                    </div>
                                    <ul>
                                        <li><i class="bi bi-check-circle"></i> Surface : 15m<sup>2</sup></li>
                                        <li><i class="bi bi-check-circle"></i> Climatisée</li>
                                        <li><i class="bi bi-check-circle"></i> 1 grand ou 2 petits lits</li>
                                        <li><i class="bi bi-check-circle"></i> TV satellite</li>
                                        <li><i class="bi bi-check-circle"></i> WIFI GRATUIT</li>
                                    </ul>
                                    <div>
                                        <a href="#" class="book-a-table-btn scrollto" data-bs-toggle="modal"
                                            data-bs-target="#classicModal">Reserver cette chambre classique</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>
        <!-- End Events Section -->

        <!-- ======= Chefs Section ======= -->
        <section id="chefs" class="chefs">
            <div class="container">

                <div class="section-title">
                    <h2><span>Chefs</span> Proffesionels</h2>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="member">
                            <div class="pic"><img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt=""
                                    style="width:950px; height:300px;"></div>
                            <div class="member-info">
                                <h4>Timothée Sicard</h4>
                                <span>Chef cuisinier</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="member">
                            <div class="pic"><img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt=""
                                    style="width:950px; height:300px;"></div>
                            <div class="member-info">
                                <h4>Joseph Frappier</h4>
                                <span>Patissier</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="member">
                            <div class="pic"><img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt=""
                                    style="width:950px; height:300px;"></div>
                            <div class="member-info">
                                <h4>Richard Bériault</h4>
                                <span>Cuissinier</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Chefs Section -->

        <!-- ======= Menu Section ======= -->
        <section id="menu" class="menu">
            <div class="container">

                <div class="section-title">
                    <h2>Nos meilleurs <span>Plats</span></h2>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="menu-flters">
                            <li data-filter="*" class="filter-active">Tout afficher</li>
                            <li data-filter=".filter-starters">Français</li>
                            <li data-filter=".filter-salads">Italien</li>
                            <li data-filter=".filter-specialty">Malagasy</li>
                        </ul>
                    </div>
                </div>

                <div class="row menu-container">

                    <div class="col-lg-6 menu-item filter-starters">
                        <div class="menu-content">
                            <a href="#">Pavé de zébu</a><span>Ar 16.000</span>
                        </div>
                        <div class="menu-ingredients">
                            à la crème poivre vert du pays ou sauce à la Dijonnabe
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-specialty">
                        <div class="menu-content">
                            <a href="#">Trondro amin'ny voanio</a><span>Ar 17.000</span>
                        </div>
                        <div class="menu-ingredients">
                            Poisson sauce coco
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-starters">
                        <div class="menu-content">
                            <a href="#">Filet de mérou</a><span>Ar 18.000</span>
                        </div>
                        <div class="menu-ingredients">
                            à la sauce crème vanille de Madagascar
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-salads">
                        <div class="menu-content">
                            <a href="#">Spaghetti</a><span>Ar 18.000</span>
                        </div>
                        <div class="menu-ingredients">
                            au poisson sauce pesteu
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-specialty">
                        <div class="menu-content">
                            <a href="#">Varangan'ny Ntaolo</a><span>Ar 18.000</span>
                        </div>
                        <div class="menu-ingredients">
                            Fresh spinach, crisp romaine, tomatoes, and Greek olives
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-starters">
                        <div class="menu-content">
                            <a href="#">Granti de macaroni</a><span>Ar 15.000</span>
                        </div>
                        <div class="menu-ingredients">
                            à la crème de gryère
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-salads">
                        <div class="menu-content">
                            <a href="#">Spaghetti</a><span>Ar 18.000</span>
                        </div>
                        <div class="menu-ingredients">
                            au poisson sauce pesteu
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-salads">
                        <div class="menu-content">
                            <a href="#">Escalope de volaille</a><span>Ar 16.000</span>
                        </div>
                        <div class="menu-ingredients">
                            sauce crème moutarde
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-specialty">
                        <div class="menu-content">
                            <a href="#">Akoho gasy ritra</a><span>Ar 16.000</span>
                        </div>
                        <div class="menu-ingredients">
                            Poulet local brassé au gingembre
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-specialty">
                        <div class="menu-content">
                            <a href="#">Romazava mafilotra</a><span>Ar 16.000</span>
                        </div>
                        <div class="menu-ingredients">
                            Délicieux dubé de viande de boeuf et poulet
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Menu Section -->

        <!-- ======= Specials Section ======= -->
        <section id="specials" class="specials">
            <div class="container">

                <div class="section-title">
                    <h2>Nos <span>Evenements spéciales</span></h2>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Concert musique</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Mariage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Anniversaire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Réunion ou conférence</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Ateliers ou seminaires</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Musique</h3>
                                        <p class="fst-italic">Pour les amateurs de musique, une petite scène équipée
                                            d'instruments vous y est proposée.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Célebration de mariage</h3>
                                        <p class="fst-italic">De la réception à la chambre nuptiale, nous nous ferons un
                                            plaisir de vous offrir le meilleur des services pour votre grand Jour.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Fête d'anniversaire</h3>
                                        <p class="fst-italic">Pour une fête d'anniversaire conviviale, nous vous
                                            proposons des offres variées pour une journée mémorable.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Réunion ou conférence</h3>
                                        <p class="fst-italic">Motivez vos collaborateurs en choisissant une équipe de
                                            professionnels pour vos ateliers et réunions diverses</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Seminaires ou ateliers</h3>
                                        <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro
                                            quia.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Specials Section -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container-fluid">

                <div class="section-title">
                    <h2>Notre <span>Gallerie</span></h2>
                </div>

                <div class="row g-0">

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/gallery-1.jpg" class="gallery-lightbox">
                                <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/gallery-2.jpg" class="gallery-lightbox">
                                <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/gallery-3.jpg" class="gallery-lightbox">
                                <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/gallery-4.jpg" class="gallery-lightbox">
                                <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/gallery-5.jpg" class="gallery-lightbox">
                                <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/gallery-6.jpg" class="gallery-lightbox">
                                <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/gallery-7.jpg" class="gallery-lightbox">
                                <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/gallery-8.jpg" class="gallery-lightbox">
                                <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Gallery Section -->

        <!-- ======= Book A Table Section ======= -->
        <section id="book-a-table" class="book-a-table">
            <div class="container">

                <div class="section-title">
                    <h2>Réserver <span>une chambre</span></h2>
                    <p class="pt-1">Veuillez choisir vos reservations </p>
                    <div class="menu row pt-4">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="menu-flters">
                                <li><a href="#" id="pgChambre">Chambre</a></li>
                                <li><a href="#" id="pgMariage">Mariage</a></li>
                                <li><a href="#" id="pgEvenement">Evenement familliale</a></li>
                                <li><a href="#" id="pgConference">Salle de conférence</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="pageCharge">
                    <!--  -->
                </div>


            </div>
        </section>
        <!-- End Book A Table Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Nous<span> Contacter</span></h2>
                </div>
            </div>

            <div class="map">
                <iframe style="border:0; width: 100%; height: 350px;"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                    frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container mt-5">

                <div class="info-wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 info">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Adresse:</h4>
                            <p>Madagascar<br>Mada</p>
                        </div>

                        <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                            <i class="bi bi-clock"></i>
                            <h4>Heure d'ouverture:</h4>
                            <p>24h / 24 <br> 7j / 7</p>
                        </div>

                        <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>email@example.com<br>contact@example.com</p>
                        </div>

                        <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                            <i class="bi bi-phone"></i>
                            <h4>Téléphone:</h4>
                            <p>+261 xx xx xxx xx<br>+261 xx xx xxx xx</p>
                        </div>
                    </div>
                </div>

                <form action="" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nom ou pseudo"
                                required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Objet"
                            required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                            required></textarea>
                    </div>
                    <div class="text-center"><button type="submit">Envoyer Message</button></div>
                </form>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- Modal Suite -->
    <div class="modal fade" id="suiteModal" tabindex="-1" aria-labelledby="suiteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suiteModalLabel">Réserver la suite</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 form-group">
                            <label for="">Nom et prénom</label>
                            <input type="text" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                            <label for="">Téléphone</label>
                            <input type="text" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Date de reservation</label>
                            <input type="date" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Date d'entrée</label>
                            <input type="date" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Date de départ</label>
                            <input type="date" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Nbr adulte</label>
                            <input type="number" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Nbr Enfant</label>
                            <input type="number" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-warning">Réserver</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Suite -->

    <!-- Modal Luxe -->
    <div class="modal fade" id="luxeModal" tabindex="-1" aria-labelledby="luxeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="luxeModalLabel">Réserver la chambre de luxe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 form-group">
                            <label for="">Nom et prénom</label>
                            <input type="text" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                            <label for="">Téléphone</label>
                            <input type="text" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Date de reservation</label>
                            <input type="date" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Date d'entrée</label>
                            <input type="date" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Date de départ</label>
                            <input type="date" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Nbr adulte</label>
                            <input type="number" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Nbr Enfant</label>
                            <input type="number" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-warning">Réserver</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Luxe -->

    <!-- Modal Classique -->
    <div class="modal fade" id="classicModal" tabindex="-1" aria-labelledby="classicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="classicModalLabel">Réserver la chambre classique</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 form-group">
                            <label for="">Nom et prénom</label>
                            <input type="text" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                            <label for="">Téléphone</label>
                            <input type="text" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Date de reservation</label>
                            <input type="date" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Date d'entrée</label>
                            <input type="date" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Date de départ</label>
                            <input type="date" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Nbr adulte</label>
                            <input type="number" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group mt-3">
                            <label for="">Nbr Enfant</label>
                            <input type="number" class="form-control" name="" id="">
                            <div class="validate"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-warning">Réserver</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Classique -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Hotel & Restaurant</h3>
            <p>Merci de votre visite, à très bientôt!</p>
            <div class="copyright">
                &copy; Copyright <strong><span>Hotel & Restaurant</span></strong>. Tous les droits sont réservés
            </div>
            <div class="credits">
                Par : <a href="#">Arson Emmanuel Christian</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/jquery.min.js"></script>

    <script>
        $(function () {

            pageReservation();

            function pageReservation() {
                $.ajax({
                    type: 'ajax',
                    method: 'get',
                    url: '/Reservation/Principale',
                    data: {},
                    async: false,
                    dataType: 'html',
                    success: function (data) {
                        $('#pageCharge').html(data);
                    }
                });
            }

            $('#pgChambre').click(function () {
                $.ajax({
                    type: 'ajax',
                    method: 'get',
                    url: '/Reservation/Chambre',
                    data: {},
                    async: false,
                    dataType: 'html',
                    success: function (data) {
                        $('#pageCharge').html(data);
                    }
                });
            });

            $('#pgMariage').click(function () {
                $.ajax({
                    type: 'ajax',
                    method: 'get',
                    url: '/Reservation/Mariage',
                    data: {},
                    async: false,
                    dataType: 'html',
                    success: function (data) {
                        $('#pageCharge').html(data);
                    }
                });
            });

            $('#pgEvenement').click(function () {
                $.ajax({
                    type: 'ajax',
                    method: 'get',
                    url: '/Reservation/Evenement',
                    data: {},
                    async: false,
                    dataType: 'html',
                    success: function (data) {
                        $('#pageCharge').html(data);
                    }
                });
            });

            $('#pgConference').click(function () {
                $.ajax({
                    type: 'ajax',
                    method: 'get',
                    url: '/Reservation/Conference',
                    data: {},
                    async: false,
                    dataType: 'html',
                    success: function (data) {
                        $('#pageCharge').html(data);
                    }
                });
            });

            /*  script mariage
            $('#interieur').hide();
            $('#exterieur').hide();

            $('#salle').change(function(){
                if($('#salle').val()===int)
                {
                    $('#exterieur').hide();
                    $('#interieur').show();
                }
                else if($('#id_activite').val()===ext)
                {
                    $('#exterieur').show();
                    $('#interieur').hide();
                }
            }) */

        });
    </script>

</body>

</html>